{%extends 'base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">


  {%block content%}
  <main class="recipe-form">
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="control">
        <button class="button">Create</button>
      </div>
    </form>
  </main>
  {%endblock content%}
